    {% include "header.html" %}
    <!-- Welcome Section -->
    <section id="tmWelcome" class="parallax-window" data-parallax="scroll" data-image-src="{{ url_for('static', filename='img/mini-profile-bg-01.jpg') }}">
      <div class="container-fluid tm-brand-container-outer">
        <div class="row">
          <div class="col-12">
            <!-- Logo Area -->
            <!-- Black transparent bg -->
            <div class="ml-auto mr-0 tm-bg-black-transparent text-white tm-brand-container-inner">
              <div class="tm-brand-container text-center">
                <h1 class="tm-brand-name">Ziebhar Jikiri</h1>
                <p class="tm-brand-description mb-0">Software Engineer</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tm-bg-white-transparent tm-welcome-container">
        <div class="container-fluid">
          <div class="row h-100">
            <!-- Welcome Text -->
            <!-- White transparent bg -->
            <div class="col-md-7 tm-welcome-left-col">
              <div class="tm-welcome-left">
                <h2 class="tm-welcome-title">Welcome to Mini Profile Page</h2>
                <p class="pb-0">
                  Hi, I'm Ziebhar. A Python Developer currently staying in Manila, Philippines.
                    I'm a graduate of Bachelor of Science in Information Technology and I have 6 years of experience working abroad.
                  Feel free to send me an email at the bottom of this page.
                </p>
              </div>
            </div>
            <!-- Brown bg -->
            <div class="col-md-5">
              <div class="tm-welcome-right">
                <!--<i class="fas fa-4x fa-address-card p-3 tm-welcome-icon"></i>-->
                <img src="{{ url_for('static',filename='img/pic-200x200.jpg') }}" class="tm-welcome-icon">
                <p class="mb-0">
                  Please spread a word about my profile website. I really want to have a career in IT because I had finished the aforementioned 4-year degree a long time ago.
                    I prefer working in Dubai (UAE) this time.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Welcome section -->

    <!-- Portfolio section -->
    <section id="tmPortfolio">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="tm-portfolio-item">
              <div class="tm-portfolio-name text-white tm-bg-green">
                HR Officer
              </div>
              <div class="tm-portfolio-description">
                <h3 class="tm-text-green">
                  Earth Smart Company WLL
                  <span class="tm-title-small">(2016 Jan to 2017 Sep)</span>
                </h3>
                <p class="mb-0">
                  A  recruitment agency located in Doha, Qatar. We supply manpower to Siemens for their projects,mostly white-collared jobs.
                  However, I only lasted for more than a year due to the diplomatic crisis between Saudi Arabia and Qatar back then that affected our recruitment agency.
                </p>
              </div>
            </div>

            <div class="tm-portfolio-item">
              <div class="tm-portfolio-name text-white tm-bg-orange">
                Project Coordinator
              </div>
              <div class="tm-portfolio-description">
                <h3 class="tm-text-orange">
                  Al-Falak Electronic Equipment & Supplies Company
                  <span class="tm-title-small">(2013 Jan to 2015 Jan)</span>
                </h3>
                <p class="mb-0">
                  A contractor company that is located in Al-Khobar, Saudia Arabia that supplies manpower to Aramco. I was supplied by the company to work for Aramco in my first 12 months.
                    during my tenure, I got to know how to use the SAP system and doing admin work.
                </p>
              </div>
            </div>

            <div class="tm-portfolio-item">
              <div class="tm-portfolio-name text-white tm-bg-blue">
                Medical Secretary
              </div>
              <div class="tm-portfolio-description">
                <h3 class="tm-text-blue">
                  Alawi Tunsi & Bros. Hospital
                  <span class="tm-title-small">(2006 July to 2009 July)</span>
                </h3>
                <p class="mb-0">
                  A semi-private hospital located at Mecca, Saudi Arabia. It was my very first job. During my tenure in the hospital,
                    it was my first time being exposed in the IT department which inspired me to take a crash course on PHP with MySQL after my contract ended.
                </p>
              </div>
            </div>

            <div class="tm-portfolio-item">
              <div class="tm-portfolio-name text-white tm-bg-dark-gray">
                I.T. Course
              </div>
              <div class="tm-portfolio-description">
                <h3 class="tm-text-dark-gray">
                  Ateneo de Zamboanga University
                  <span class="tm-title-small">
                    (2001 June to 2005 March)
                  </span>
                </h3>
                <p class="mb-0">
                  I'm a product of one of the prestigious schools here in the Philippines which is run by the Jesuits.
                  I've been a student from this school since my 1st year high school in 1997 until I finished my college degree.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End portfolio section -->

    <!-- Contact section -->
    <div id="tmContact" class="parallax-window" data-parallax="scroll" data-image-src="{{ url_for('static', filename='img/mini-profile-bg-02.jpg') }}">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="tm-contact-items-container">
              <div class="tm-contact-item">
                <i class="fas fa-5x fa-briefcase tm-contact-item-icon"></i>
                <p class="mb-0">
                  Quisque venenatis viverra ultrices. Lorem ipsum dolor sit
                  amet. Nullam sit amet tempor nisl.
                </p>
              </div>
              <div class="tm-contact-item">
                <i class="fas fa-5x fa-building tm-contact-item-icon"></i>
                <p class="mb-0">
                  Integer id malesuada ligula. Cras in fringilla nibh, sed
                  semper turpis. Aliquam efficitur nisl nec.
                </p>
              </div>

              <div class="tm-contact-item">
                <i class="fas fa-5x fa-balance-scale tm-contact-item-icon"></i>
                <p class="mb-0">
                  Commodo id ullamcorper ac, dignissim at sapien. Nullam leo
                  massa, varius ac massa et, tincidunt imperdiet.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <form
              action="{{ url_for('contact') }}"
              method="POST"
              id="tmContactForm"
              class="tm-bg-white-transparent"
            >
              <div class="form-group">
                <input
                  type="text"
                  id="contact_name"
                  name="name"
                  class="form-control rounded-0 border-top-0 border-right-0 border-left-0"
                  placeholder="Name"
                  required
                />
              </div>
              <div class="form-group">
                <input
                  type="email"
                  id="contact_email"
                  name="email"
                  class="form-control rounded-0 border-top-0 border-right-0 border-left-0"
                  placeholder="Email"
                  required
                />
              </div>
              <div class="form-group">
                <textarea
                  rows="4"
                  id="contact_message"
                  name="message"
                  class="form-control rounded-0 border-top-0 border-right-0 border-left-0"
                  placeholder="Message"
                  required
                ></textarea>
                {% if is_sent %}
                {% with messages=get_flashed_messages() %}
                  {% if messages %}
                    {% for message in messages %}
                      <p><font color="green">{{ message }}</font></p>
                    {% endfor %}
                  {% endif %}
                {% endwith %}
                {% endif %}
              </div>
              <div class="text-center">
                <button
                  type="submit"
                  class="btn tm-btn-submit rounded-5 text-white"
                >
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
        <!-- row -->
        {% include "footer.html" %}